body {
    font-family: "Courier New", Courier;
}
#infactr {
    background-color:#fff;
    border:1px solid #ccc;
    padding:10px;
    position:relative;
    width:600px;
    margin:0 auto;
    height:600px;
    overflow:auto
}